{% extends 'profile-base.html' %}
{% load static %}

{% block endcontent %}

<div class="container">

{% for following in followings %}
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
      <p>{{ following.follower_user.user.username }}</p>

<div class="media">
    <span class="media-left">
        <a href="{% url 'your-profile' user_id=following.follower_user_id %}" >
            <img class="pull-left" src="{% get_static_prefix %}{{ following.follower_user.avatar.url }}" alt="{{ following.follower_user.avatar.url }}"  width="300px" height="300px"/></a>
    </span>
    <div class="media-body" style="padding-left:4.00em;">
            <h1 class="media-heading" id="follower{{ following.follower_user.user }}">{{ following.follower_user.user.firstname }} {{ following.follower_user.user.lastname }}</h1>
  <p>ilość przepisów: {{ following.follower_user.post.all|length }}</p>
    </div>
    </div>
<br>

    <br>
{% endfor %}
</div>
</div>







{% endblock %}