{% extends 'profile-base.html' %}
{% load static %}


{% block endcontent %}

<div class="container">

{% for follower in followers %}
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
      <p>{{ follower.user.user.username }}</p>

<div class="media">
    <span class="media-left">
        <a href="{% url 'your-profile' user_id=follower.user_id %}" >
            <img class="pull-left" src="{% get_static_prefix %}{{ follower.user.avatar.url }}" alt="{{ follower.user.avatar.url }}"  width="300px" height="300px"/></a>
    </span>
    <div class="media-body" style="padding-left:4.00em;">
            <h1 class="media-heading" id="follower{{ follower.id }}">{{ follower.user.user.firstname }} {{ follower.user.user.lastname }}</h1>
  <p>ilość przepisów: {{ follower.user.post.all|length }}</p>
    </div>
    </div>
<br>

    <br>
{% endfor %}
</div>
</div>

{% endblock %}