{% extends 'profile-base.html' %}
{% load static %}

{% block endcontent %}

<div class="container">

{% for rewrite in rewrites %}
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
      <p>{{ rewrite.post.date }}</p>

<div class="media">
    <span class="media-left">
        <a href="{% url 'details' post_id=rewrite.post.id %}" >
            <img class="pull-left" src="{% get_static_prefix %}{{ rewrite.post.image.url }}" alt="img" width="300px" height="300px"/></a>
    </span>
    <div class="media-body" style="padding-left:4.00em;">
            <h1 class="media-heading" id="rewrite{{ rewrite.post.id }}">{{ rewrite.post.description }}</h1>
  <p>{{ rewrite.post.recipe }}</p>
  <p>Autor: {{ rewrite.post }}</p>
    </div>
    </div>
<br>

    <br>

{% endfor %}
    </div>
</div>







{% endblock %}